<!DOCTYPE html>
<html>
<head>
	<title>Decision Maker</title>
</head>
<body>
    <h3>Type elements seperated by commas</h3>
    
	<form action= "/" method="post">		
        <label for = "decision">Your list: </label>

        <input type = "text"
               name = "text_name"
               placeholder= "heads, tails" />

        <input name="out_of" type="number" min="1"
               max="1000" step="1" value="3">

        <input type="submit" value="Submit">
    </form>

    <p>{{decision}}</p>

    <table border= "1" cellspacing = "2" cellpadding= "5">
        <tr>
            <th>Element</th>
            <th>Count</th>
         </tr>
        {% for key, value in counter.items() %}
           <tr>
                <td> {{ key }} </th>
                <td> {{ value }} </td>
           </tr>
        {% endfor %}
    </table>
</body>
</html>